html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: #F7F7F0;
    font-size: 24px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #e2e4e1;
    padding-bottom: 5px;
}

.header p {
    color: #2B1007;
    font-size: 16px;
    font-weight: normal;
}

.header h1 {
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 32px;
    color: #2B1007
}

.header,
footer,
.card-front,
.card-back,
main {
    text-align: center;
}

body {
    padding-left: 5px;
    padding-right: 5px;
    background: #FAFAF8;
    color: #2B1007
}

section {
    margin: 3rem auto;
    max-width: 90%;
}

section.highlight {
    background: #EFEDE8;
    border-radius: 12px;
    padding: 20px;
}

body h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2B1007
}

body h3 {
    font-size: 20px;
    font-weight: bold;
    color: #61240E;
}

body h4 {
    font-size: 18px;
    font-weight: normal;
    color: #61240E;
}

body p {
    font-size: 16px;
    font-weight: normal;
}

hr {
    width: 90%;
    opacity: 0.3;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100;
    gap: 1.5rem;
    margin: 2rem auto;
}

.profile-pic {
    grid-column: span 1;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    justify-self: center;
    align-self: center;
}

.profile-text {
    grid-column: span 2;
    align-self: center;
}

@media (max-width: 1080px) {

    .profile-grid {
        display: flex;
        flex-direction: column;
    }
}

.icon {
    width: 50px;
    height: 50px;
}

.icon-understand {
    width: 60px;
    height: 60px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1100;
    gap: 1.5rem;
    margin: 2rem auto;
}

@media (max-width: 1080px) {

    .cards-grid {
        display: flex;
        flex-direction: column;
    }

    .card {
        height: 250px;
    }

    .skills-card {
        height: auto;
        padding-top: 20px;
    }
}

.card-container,
.skills-container {
    perspective: 1000px
}

.card {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 400px;

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    grid-area: 1 / 1;
    padding: 2rem;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden;
    border-radius: 12px;
    box-shadow: #2B1007 0px 4px 6px -1px, #2B1007 0px 2px 4px -1px;
    background: #A3CDBA;
    color: #61240E;
}

.card-back {
    transform: rotateY(180deg);
}

.card-back p {
    line-height: 1.5;
}

.card.is-flipped .card-inner {
    transform: rotateY(180deg);
}

.card.is-flipped .card-back {
    box-shadow: #0b4a07 0px 8px 10px -1px, #0b4a07 0px 4px 5px -1px;
}

.card:hover .card-front {
    box-shadow: #0b4a07 0px 8px 10px -1px, #0b4a07 0px 4px 5px -1px;
    transform: translateY(-10px);
    transition: box-shadow 0.3s ease, transform 0.3s ease
}

.card:hover .icon,
.card:hover .icon-understand {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.card:focus-visible {
    outline: 3px solid #2B1007;
    border-radius: 12px
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px;
    gap: 1.5rem;
    margin: 2rem auto;
}

.skills-card {
    grid-area: 1 / 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 600px;

    backface-visibility: hidden;
    border-radius: 12px;
    border: 1px solid #717c6b;
    background: #A3CDBA;
    color: #61240E;
}

.skills-card h3 {
    font-weight: bold
}

@media (max-width: 1080px) {

    .skills-grid {
        display: flex;
        flex-direction: column;
    }

    .skills-card {
        height: 700px;
    }
}

footer {
    background: #EFEDE8;
    border-top: 1px solid #e2e4e1;
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-weight: lighter;
}